body {
    padding: 5% 20%;
    font-family: Arial, sans-serif;
}

#top {
    padding-bottom: 0%;
    text-align: center;
    font-size: 30px;
}

h1 {
    font-size: 42px;
}

h2 {
    color: #222;
    font-size: 25px;
}

h3 {
    font-weight: normal;
    font-size: 21px;
}

.post {
    display: block;
    padding-bottom: 5%;
    padding-top: 5%;
}

.post a {
    text-decoration: none;
    color: #333;
}

.post a:first-child {
    display: block;
    padding-bottom: 3%;
}

a.tag {
    background: #CCC;
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: #222;
}