body {
    font-family: Arial, sans-serif;
    padding: 0% 10%;
    font-size: 21px;
}


h1 {
    font-size: 42px;
}

#top {
    padding: 5% 20% 2%;
    text-align: center;
}

h2 {
    font-weight: normal;
}

article {
    padding: 2% 20% 5%;
    color: #333;
    display: block;
}
